
@import url('https://discord-custom-covers.github.io/usrbg/dist/usrbg.css');
@import url("https://raw.githack.com/Snapperito/CSS-Snippets/main/Settings%20Icons/settingsicons.css");
@import url("https://raw.githack.com/LuckFire/CSS-Snippets/master/BetterChannelIndicators/indicators.css");
@import url("https://gibbu.github.io/BetterDiscord-Themes/AdjustableServerWidth/base.css");

:root {
  --server-icon-size: 40px; /* Size of the server icons | DEFAULT: 35px */
  --server-icon-spacing: 8px; /* Spacing between server icons. Negative values are allowed | DEFAULT: 8px */
  --server-container-padding: 10px; /* Spacing to the left and right sides of server icons | DEFAULT: 10px */
}



:root {
        --unread-badge: rgba(255,255,255,0.6) !important;
        --unread-bg: rgba(255, 255, 255, 0.01) !important;
        --selected-badge: rgb(168, 174, 194) !important;
        --selected-bg: rgba(112, 135, 215, 0.1) !important;
        --hovered-bg: rgba(79,84,92,0.25) !important;
        --bg-rounding: 0px 10px 10px 0px !important
}
.avatar-1BDn8e.clickable-1bVtEA{
  
}
.avatar-1BDn8e.clickable-1bVtEA{
  padding: 10px;
  border-radius: 20px;
  height: 35px !important;
  width: 35px !important;
}

/* new friends list thing ew with animation*/
.peopleListItem-2nzedh {
  background-color: transparent;
}

.peopleListItem-2nzedh:hover {
  transition: all 0.3s ease;
  transform: translateX(-0.5em);
  border-right: solid 0.3em #fcfcfc;
  border-bottom: solid 1px rgba(226, 222, 222, 0.993);
}

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9{
  background-color: #313238;
}
:root {
  --bubble-color: var(--background-tertiary);
  --bubble-padding: 5px 8px;
  --bubble-arrow-size: 5px;
}

.cozyMessage-3V1Y8y .contents-2mQqc9 > .markup-2BOw-j:not(:empty) {
  background-color: var(--bubble-color);
  display: inline-block;
  max-width: 100%;
  margin: 0;
  padding: var(--bubble-padding);
  border-radius: 5px;
  position: relative;
  overflow: visible;
}

.cozyMessage-3V1Y8y .contents-2mQqc9 > .markup-2BOw-j blockquote,
.cozyMessage-3V1Y8y .contents-2mQqc9 > .markup-2BOw-j pre {
  max-width: unset;
}

.groupStart-23k01U.cozyMessage-3V1Y8y .contents-2mQqc9 > .markup-2BOw-j {
  border-top-left-radius: 0;
}
.groupStart-23k01U.cozyMessage-3V1Y8y .contents-2mQqc9 > .markup-2BOw-j::before {
  content: '';
  display: block;
  border-style: solid;
  border-width: 0 var(--bubble-arrow-size) var(--bubble-arrow-size) 0;
  border-color: transparent var(--bubble-color) transparent transparent;
  position: absolute;
  left: calc(var(--bubble-arrow-size) * -1);
  top: 0;
}

/*1.e. Tooltips*/

#app-mount .tooltip-2QfLtc,
.bd-tooltip,
.toolbar-2bjZV7,
.bubble-3we2di,
.search-36MZv-:hover .search-2oPWTC::after {
    background: #3c3c44 !important;
    color: #fefeff;
}

#app-mount .tooltipPointer-3ZfirK,
.toolbar-2bjZV7:before,
.bubble-3we2di:before,
.search-36MZv-:hover .search-2oPWTC::before {
    display:none;
}

.moreUsers-7v8yWY,
.userTooltip-7qZaHD,
.toolbar-2bjZV7 .button-qqmJ7w svg {
    color: #d6d619 !important;

}


/* mac buttons for cool people */
.typeWindows-1za-n7 {
  background-color: transparent;
}
.winButton-iRh8-Z {
  margin-top: 6px;

  margin-right: 10px;
  opacity: 0.8;
  border-radius: 100%;
  width: 12px;
  height: 12px;
}
.winButton-iRh8-Z svg {
  display: none;
}
.winButtonClose-1HsbF- {
  background-color: #a3a3a2;
}
.winButtonMinMax-PBQ2gm:nth-child(3) {
  background-color: #a3a3a2;
}
.winButtonMinMax-PBQ2gm:nth-child(4) {
  background-color: #a3a3a2;
}
.scroller-2TZvBN {
  margin-top: 0px;
}


.membersWrap-2h-GB4 {
  margin-top: 10px !important;
}

.members-1998pB {
  border-top-left-radius: 30px !important;
  border-top-right-radius: 30px !important;
}


.sidebar-2K8pFh, .chat-3bRxxu, .container-3Mxszk, .container-1D34oG, .applicationStore-1pNvnv {
  border-radius: 15px 15px 0 0 !important
}

.chat-3bRxxu, .container-1D34oG, .container-3Mxszk, .applicationStore-1pNvnv {
  position: relative;
  left: 5px;
  padding-right: 5px
}

:root {
  --usrbg-modal-x-offset:-34px; /*Distance from the avatar container to the edge of the modal (x)*/
  --usrbg-modal-y-offset:-20px; /*Distance from the avatar container to the edge of the modal (y)*/
  --usrbg-modal-width:600px; /*Maximum width of modal*/
  --usrbg-modal-height:600px; /*Maximum height of modal*/
}
.header-QKLPzZ .wrapper-3t9DeA::after {
  content:'';
  position:absolute;
  top:var(--usrbg-modal-x-offset);
  left:var(--usrbg-modal-y-offset);
  width:var(--usrbg-modal-width);
  height: var(--usrbg-modal-height);
  opacity:.5;
  pointer-events:none;
  background: var(--user-background) center/cover no-repeat;
  -webkit-mask: linear-gradient(black, transparent 80%);
}



.headerInfo-30uryT,
.tabBarItem-1b8RUP,
.activity-1ythUs {
  z-index:1;
  position:relative;
}

.reduce-motion .userPopout-3XzG_A {
	transform:translateZ(0);
}

.userPopout-3XzG_A .wrapper-3t9DeA::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	pointer-events: none;
	opacity: .5;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: var(--user-popout-position) center;
	background-image: var(--user-background);
	-webkit-mask-image: linear-gradient(#000, transparent);
}

.userPopout-3XzG_A  .header-2BwW8b,
.userPopout-3XzG_A  .scroller-2FKFPG,
.userPopout-3XzG_A  .footer-1fjuF6 {
	z-index: 1;
}


[user_by_bdfdb*="254362351170617345"],
[data-user-id*="254362351170617345"],
[user_by_bdfdb*="365643222522920960"],
[data-user-id*="365643222522920960"] {
	--user-background: url('https://i.imgur.com/qQBk2cR.jpg');
}
  /*aethon*/
   [user_by_bdfdb*="711568162612838410"],
  [data-user-id*="711568162612838410"] {
    --user-background: url('https://i.imgur.com/s1lODnp.gif');
  }

    /*aethon*/
    [user_by_bdfdb*="732589984887996466"],
    [data-user-id*="732589984887996466"] {
      --user-background: url('https://i.imgur.com/22tXplt.gif');
    }


        .platform-win .wordmarkWindows-1v0lYD {
            display: none;
        }


        .item-PXvHYJ[data-item-id=pc-updater] { height: 4.65rem; }

.item-PXvHYJ[data-item-id=pc-updater]:hover {
    background: linear-gradient(180deg,
        var(--background-modifier-hover) 0%, var(--background-modifier-hover) 43%,
        var(--background-secondary) 43.01%, var(--background-secondary) 100%) !important;
}
.item-PXvHYJ[data-item-id=pc-updater][class*=selected] {
  background: linear-gradient(180deg, 
        var(--background-modifier-selected) 0%, var(--background-modifier-selected) 43%,
        var(--background-secondary) 43.01%, var(--background-secondary) 100%) !important;
}
.item-PXvHYJ[data-item-id=pc-updater]:after {
    position: absolute;
    margin-top: calc(2rem + 3px);
    margin-left: -6rem;

    border-top: 1px solid var(--background-modifier-accent);
    line-height: 2.6rem;    
    width: 90%;

  content: "Plugin Settings";
    color: rgb(159, 159, 159);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
}

  


.ping-2NgC8E {
  transform: scale(1.7);
  margin-left: 5px;
  margin-top: 11px;
  margin-bottom: 0;
  height: 20px;
}

.channel-1TmDQ6 {
  margin-left: 30px;
  margin-top: -9px;
}

.rtcConnectionStatusConnected-VRZDjy {
  margin-left: 5px;
}

.panels-j1Uci_ > .container-3baos1 .flex-1xMQg5 button:last-child:hover {


  animation: rotate 3s infinite;
  -webkit-transition-delay: now;
  -webkit-animation-timing-function: linear;
  background-color: transparent;
  
}

.iconWrapper-2OrFZ1[role="switch"]:hover {
  animation: Home 1.5s infinite ease-in-out;
}
@keyframes Home {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg) scale(1.01);
  }
  100% {
    transform: rotate(-10deg);
  }
}

/* Profile Icon */
.avatarWrapper-2yR4wp{
  position: relative;
  right: -80px 
}
.title-eS5yk3 {
  position: relative;
  top: 300px;
}
.subtext-3CDbHg {
  position: relative;
  top: 300px;
}
.nameTag-3uD-yy.canCopy-2VBT7N {
  position: relative;
  top: 300px;
}
/* Fly in Voice Chat buttons fix */
.panels-j1Uci_ .container-3baos1 button[aria-checked="false"], .panels-j1Uci_ .container-3baos1 button:not([role="switch"]) {
    transition: 0.2s ease-in-out;
    width: 0px !important;
    overflow: hidden !important;
    opacity: 0 !important;
}
.panels-j1Uci_ .container-3baos1:hover button.button-14-BFJ {
    transition: 0.2s ease-in-out;
    width: 32px !important;
    overflow: visible !important;
    opacity: 1 !important;
}

/* Cleaner status picker with gradient buttons */

#status-picker .separator-2I32lJ, #status-picker .description-2L932D {
  display: none;
}
#status-picker .focused-3afm-j {
  background: linear-gradient(45deg, #2b45a2, #7289da);
}
#status-picker .focused-3afm-j#status-picker-online {
  background: linear-gradient(45deg, #21583f, #43b581);
}
#status-picker .focused-3afm-j#status-picker-idle {
  background: linear-gradient(45deg, #915c03, #faa61a);
}
#status-picker .focused-3afm-j#status-picker-dnd {
  background: linear-gradient(45deg, #aa0e0e, #f04747);
}
#status-picker .focused-3afm-j#status-picker-invisible {
  background: linear-gradient(45deg, #3a4047, #747f8d);
}

/* Pings */
.numberBadge-2s8kKX {
  animation: animatedPing 1.5s infinite ease-in-out;
}

@keyframes animatedPing {
  0% {
    transform: rotate(-15deg);
  }

  50% {
    transform: rotate(15deg) scale(1.2);
  }

  100% {
    transform: rotate(-15deg);
  }
}

/* Modals*/
[role="dialog"] {
  animation: Modal 1000ms linear both;
}

@keyframes Modal {
  0% {
    transform: matrix3d(0.5, 0, 0, 0, 0, 0.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  3.4% {
    transform: matrix3d(0.658, 0, 0, 0, 0, 0.703, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.7% {
    transform: matrix3d(0.725, 0, 0, 0, 0, 0.8, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  6.81% {
    transform: matrix3d(0.83, 0, 0, 0, 0, 0.946, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.41% {
    transform: matrix3d(0.942, 0, 0, 0, 0, 1.084, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  10.21% {
    transform: matrix3d(0.971, 0, 0, 0, 0, 1.113, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  13.61% {
    transform: matrix3d(1.062, 0, 0, 0, 0, 1.166, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.11% {
    transform: matrix3d(1.07, 0, 0, 0, 0, 1.165, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  17.52% {
    transform: matrix3d(1.104, 0, 0, 0, 0, 1.12, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.72% {
    transform: matrix3d(1.106, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  21.32% {
    transform: matrix3d(1.098, 0, 0, 0, 0, 1.035, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.32% {
    transform: matrix3d(1.075, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  25.23% {
    transform: matrix3d(1.067, 0, 0, 0, 0, 0.969, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.03% {
    transform: matrix3d(1.031, 0, 0, 0, 0, 0.948, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.93% {
    transform: matrix3d(1.024, 0, 0, 0, 0, 0.949, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.54% {
    transform: matrix3d(0.99, 0, 0, 0, 0, 0.981, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  36.74% {
    transform: matrix3d(0.986, 0, 0, 0, 0, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.04% {
    transform: matrix3d(0.98, 0, 0, 0, 0, 1.011, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  44.44% {
    transform: matrix3d(0.983, 0, 0, 0, 0, 1.016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.15% {
    transform: matrix3d(0.996, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  59.86% {
    transform: matrix3d(1.003, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  63.26% {
    transform: matrix3d(1.004, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  75.28% {
    transform: matrix3d(1.001, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.49% {
    transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  90.69% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

/* Channel Mute button */
.iconWrapper-2OrFZ1[role="switch"]:hover {
  animation: Notif 1.5s infinite ease-in-out;
}

@keyframes Notif {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg) scale(1.01);
  }
  100% {
    transform: rotate(-10deg);
  }
}

/* Call Button */
.iconWrapper-2OrFZ1[aria-label="Start Voice Call"]:hover .icon-22AiRD {
  animation: CallButton 1500ms infinite linear both;
}

@keyframes CallButton {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  2.87% {
    transform: matrix3d(
      1.05,
      0.24,
      0,
      0,
      -0.24,
      1.05,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  5.74% {
    transform: matrix3d(
      1.05,
      0.423,
      0,
      0,
      -0.423,
      1.05,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  6.57% {
    transform: matrix3d(
      1.046,
      0.458,
      0,
      0,
      -0.458,
      1.046,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  6.67% {
    transform: matrix3d(
      1.046,
      0.462,
      0,
      0,
      -0.462,
      1.046,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  8.61% {
    transform: matrix3d(
      1.145,
      0.17,
      0,
      0,
      -0.17,
      1.145,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  9.54% {
    transform: matrix3d(
      1.161,
      0.024,
      0,
      0,
      -0.024,
      1.161,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  11.48% {
    transform: matrix3d(
      1.139,
      -0.238,
      0,
      0,
      0.238,
      1.139,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  12.41% {
    transform: matrix3d(
      1.115,
      -0.334,
      0,
      0,
      0.334,
      1.115,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  13.23% {
    transform: matrix3d(
      1.091,
      -0.402,
      0,
      0,
      0.402,
      1.091,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  13.33% {
    transform: matrix3d(
      1.088,
      -0.409,
      0,
      0,
      0.409,
      1.088,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  15.28% {
    transform: matrix3d(
      1.147,
      -0.166,
      0,
      0,
      0.166,
      1.147,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  16.2% {
    transform: matrix3d(
      1.157,
      -0.038,
      0,
      0,
      0.038,
      1.157,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  18.14% {
    transform: matrix3d(
      1.136,
      0.204,
      0,
      0,
      -0.204,
      1.136,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  18.89% {
    transform: matrix3d(
      1.119,
      0.279,
      0,
      0,
      -0.279,
      1.119,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  19.07% {
    transform: matrix3d(
      1.114,
      0.296,
      0,
      0,
      -0.296,
      1.114,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  19.9% {
    transform: matrix3d(
      1.093,
      0.364,
      0,
      0,
      -0.364,
      1.093,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  20% {
    transform: matrix3d(
      1.09,
      0.372,
      0,
      0,
      -0.372,
      1.09,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  21.94% {
    transform: matrix3d(
      1.142,
      0.135,
      0,
      0,
      -0.135,
      1.142,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  22.87% {
    transform: matrix3d(
      1.15,
      0.012,
      0,
      0,
      -0.012,
      1.15,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  24.81% {
    transform: matrix3d(
      1.128,
      -0.219,
      0,
      0,
      0.219,
      1.128,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  25.55% {
    transform: matrix3d(
      1.112,
      -0.291,
      0,
      0,
      0.291,
      1.112,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  25.74% {
    transform: matrix3d(
      1.107,
      -0.307,
      0,
      0,
      0.307,
      1.107,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  26.29% {
    transform: matrix3d(
      1.094,
      -0.352,
      0,
      0,
      0.352,
      1.094,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  26.57% {
    transform: matrix3d(
      1.087,
      -0.372,
      0,
      0,
      0.372,
      1.087,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  26.67% {
    transform: matrix3d(
      1.085,
      -0.379,
      0,
      0,
      0.379,
      1.085,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  28.61% {
    transform: matrix3d(
      1.141,
      -0.138,
      0,
      0,
      0.138,
      1.141,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  29.54% {
    transform: matrix3d(
      1.149,
      -0.013,
      0,
      0,
      0.013,
      1.149,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  31.48% {
    transform: matrix3d(
      1.128,
      0.221,
      0,
      0,
      -0.221,
      1.128,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  32.22% {
    transform: matrix3d(
      1.112,
      0.293,
      0,
      0,
      -0.293,
      1.112,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  32.41% {
    transform: matrix3d(
      1.107,
      0.309,
      0,
      0,
      -0.309,
      1.107,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  32.96% {
    transform: matrix3d(
      1.094,
      0.354,
      0,
      0,
      -0.354,
      1.094,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  33.23% {
    transform: matrix3d(
      1.087,
      0.375,
      0,
      0,
      -0.375,
      1.087,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  33.33% {
    transform: matrix3d(
      1.085,
      0.382,
      0,
      0,
      -0.382,
      1.085,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  35.28% {
    transform: matrix3d(
      1.046,
      0.299,
      0,
      0,
      -0.299,
      1.046,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  36.2% {
    transform: matrix3d(
      1.031,
      0.25,
      0,
      0,
      -0.25,
      1.031,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  38.14% {
    transform: matrix3d(
      1.004,
      0.152,
      0,
      0,
      -0.152,
      1.004,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  38.89% {
    transform: matrix3d(
      0.994,
      0.119,
      0,
      0,
      -0.119,
      0.994,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  39.07% {
    transform: matrix3d(
      0.992,
      0.112,
      0,
      0,
      -0.112,
      0.992,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  39.63% {
    transform: matrix3d(
      0.986,
      0.091,
      0,
      0,
      -0.091,
      0.986,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  41.11% {
    transform: matrix3d(
      0.973,
      0.044,
      0,
      0,
      -0.044,
      0.973,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  41.94% {
    transform: matrix3d(
      0.968,
      0.025,
      0,
      0,
      -0.025,
      0.968,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  44.81% {
    transform: matrix3d(
      0.961,
      -0.014,
      0,
      0,
      0.014,
      0.961,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  45.55% {
    transform: matrix3d(
      0.962,
      -0.018,
      0,
      0,
      0.018,
      0.962,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  46.29% {
    transform: matrix3d(
      0.962,
      -0.021,
      0,
      0,
      0.021,
      0.962,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  47.77% {
    transform: matrix3d(
      0.965,
      -0.022,
      0,
      0,
      0.022,
      0.965,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  52.22% {
    transform: matrix3d(
      0.974,
      -0.012,
      0,
      0,
      0.012,
      0.974,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  52.96% {
    transform: matrix3d(
      0.975,
      -0.01,
      0,
      0,
      0.01,
      0.975,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  54.44% {
    transform: matrix3d(
      0.977,
      -0.006,
      0,
      0,
      0.006,
      0.977,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  55.99% {
    transform: matrix3d(
      0.978,
      -0.003,
      0,
      0,
      0.003,
      0.978,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  59.63% {
    transform: matrix3d(
      0.979,
      0.001,
      0,
      0,
      -0.001,
      0.979,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  61.11% {
    transform: matrix3d(
      0.978,
      0.001,
      0,
      0,
      -0.001,
      0.978,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  62.66% {
    transform: matrix3d(
      0.978,
      0.001,
      0,
      0,
      -0.001,
      0.978,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  66.67% {
    transform: matrix3d(
      0.978,
      0.001,
      0,
      0,
      -0.001,
      0.978,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  67.77% {
    transform: matrix3d(
      0.978,
      0.001,
      0,
      0,
      -0.001,
      0.978,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
  }
  69.32% {
    transform: matrix3d(0.978, 0, 0, 0, 0, 0.978, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  73.33% {
    transform: matrix3d(0.977, 0, 0, 0, 0, 0.977, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  74.44% {
    transform: matrix3d(0.977, 0, 0, 0, 0, 0.977, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  75.99% {
    transform: matrix3d(0.977, 0, 0, 0, 0, 0.977, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  80% {
    transform: matrix3d(0.977, 0, 0, 0, 0, 0.977, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  82.66% {
    transform: matrix3d(0.977, 0, 0, 0, 0, 0.977, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  86.67% {
    transform: matrix3d(0.978, 0, 0, 0, 0, 0.978, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  89.32% {
    transform: matrix3d(0.978, 0, 0, 0, 0, 0.978, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  93.33% {
    transform: matrix3d(0.978, 0, 0, 0, 0, 0.978, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(0.977, 0, 0, 0, 0, 0.977, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

/* User Modal Buttons */
.button-14-BFJ:hover .contents-18-Yxp {
  animation: UserModalButtons 0.5s normal ease;
}

.container-3baos1 .noWrap-3jynv6 {
  width: 100px;
  opacity: 1;
}

.button-14-BFJ {
  transition: 0.2s;
}

.button-14-BFJ:hover {
  padding-bottom: 0px;
  transition: 0.2;
}

@keyframes UserModalButtons {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Settings Button */
.button-14-BFJ[aria-label="User Settings"]:hover .contents-18-Yxp {
  animation: rotate 3s infinite;
}

.blockedMessageText-1fRjos:before {
  content: "";
  background: var(--background-secondary);
  border-radius: 10px;
  padding: 3px 0 3px 377px;
  margin: 0 -310px 0 -64px;
}

.groupStart-23k01U.expanded-13sWhZ > div > div > div > .content-2M3n_H  > div:before {
  padding-bottom: 0;
  border-radius: 10px 10px 0 0;
}
.blockedIcon-IrnkVA > path {
  fill: #F04747;
}

.groupStart-23k01U.expanded-13sWhZ {
  background: var(--background-primary);
  border-radius: 0px !important;
}
.groupStart-23k01U.expanded-13sWhZ > .message-2qnXI6 {
  background: var(--background-secondary);
  padding: 8px 0 8px 72px;
  margin: -5px 4px 0 8px;
  border-radius: 0px 10px 10px 10px;
}
.groupStart-23k01U.expanded-13sWhZ > div > div > div > .content-2M3n_H  > div:hover:before {
  background: var(--background-secondary);
}
.groupStart-23k01U.expanded-13sWhZ > .message-2qnXI6:hover,
.blockedMessageText-1fRjos:hover:before {
  background: var(--background-tertiary);
}

.blockedIcon-IrnkVA {
  margin-top: -2px;
}

.groupStart-23k01U.expanded-13sWhZ > .message-2qnXI6 > div,
.groupStart-23k01U.expanded-13sWhZ > .message-2qnXI6 > div > .avatar-1BDn8e {
  margin-left: -8px;
}
.groupStart-23k01U.expanded-13sWhZ > .message-2qnXI6 > .buttonContainer-DHceWr {
  margin-right: -3px;
}

.connectedAccount-36nQx7 {
  background-color: var(--background-tertiary);
  border: 0 !important;
}

.userInfoViewing-16kqK3 .flex-1xMQg5 .flexChild-faoVW3 .marginBottom20-32qID7 + div .selectable-2GY4I1 {
  filter: blur(5px);
  transition: filter .5s;
}

.userInfoViewing-16kqK3 .flex-1xMQg5 .flexChild-faoVW3 .marginBottom20-32qID7 + div .selectable-2GY4I1:hover {
  filter: blur(0px);
  transition: filter .5s;
}

.subText-V8PTt8 {
  filter: blur(5px);
  transition: filter .5s;
  cursor: text;
}

.subText-V8PTt8:hover {
  filter: blur(0px);
  transition: filter .5s;
}









#app-mount .privateChannels-1nO12o .searchBar-6Kv8R2 {
  position: absolute;
  bottom: 20px;
  right: 5px;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 40px;
  background: linear-gradient(to bottom right, var(--main-color, #313238), var(--hover-color, #1a1a1b));
  box-shadow: 2px 10px 10px var(--shadow, rgba(0,0,0,0.2)) !important;
  overflow: hidden;
  cursor: pointer;
  transition: all .2s ease-in-out;
  pointer-events: all;
  padding: 0;
}

#app-mount .privateChannels-1nO12o .searchBar-6Kv8R2 .searchBarComponent-32dTOx {
  background-color: transparent !important;
}

.privateChannels-1nO12o .searchBar-6Kv8R2 .inner-3ErfOT {
  height: 100%;
  width: 100%;
}

#app-mount .privateChannels-1nO12o .searchBar-6Kv8R2 .searchBarComponent-32dTOx::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 50px;
  bottom: 0;
  right: 0;
  background: url(https://discordapp.com/assets/4d254296157bb8927b7d53ed59beb0d8.svg) center/20px no-repeat;
  pointer-events: none;
}

#app-mount .privateChannels-1nO12o .searchBar-6Kv8R2 .searchBarComponent-32dTOx::before {
  content: 'Search Direct Messages';
  position: absolute;
  top: 50%;
  transform: translateY(-25%);
  width: 180px;
  bottom: 0;
  right: 0vw;
  color: white;
  opacity: .5;
  font-size: 12px;
  line-height: 100%;
  transition: all .2s ease-in-out;
  pointer-events: none;
}

#app-mount .privateChannels-1nO12o .searchBar-6Kv8R2 .searchBarComponent-32dTOx {
  color: transparent;
}

#app-mount .privateChannels-1nO12o .searchBar-6Kv8R2:hover {
  width: 200px;
}

.privateChannels-1nO12o .scrollerWrap-2lJEkd::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 48px;
  width: 100%;
  border-bottom: 2px solid var(--main-color, #7289da);
  box-sizing: border-box;
  z-index: 9999;
}

.privateChannels-1nO12o .scrollerWrap-2lJEkd .scroller-2FKFPG {
  margin-top: 50px;
}

/* Enlarge Emoji in details popout */
.emojiSection-3Fb9ix > .noWrap-3jynv6, .emojiSection-3Fb9ix {
  flex-wrap: wrap;
}
.emojiSection-3Fb9ix img ~ div {
  margin-left: 0 !important;
  margin-top: 10px !important;
}
.emojiSection-3Fb9ix img {
  margin: auto;
  min-width: 100%;
  height: auto !important;
}

div[aria-label="USER_SETTINGS"] .info-1VyQPT:last-child > div:last-child::after {
  content: "Aethon Theme Developer (1.4.1)";
  display: block;
}

/* Better roles */
.role-2irmRk {
  position: relative;
  overflow: hidden;
  border: none;
  padding: 5px;
}
.roleCircle-3xAZ1j::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  opacity: .2;
  pointer-events: none;
}
.footer-1fjuF6 {
  border-top: none;
}

.botTagRegular-2HEhHi {
  transition: .5s;
  background: rgba(114,137,218,0.1);
  color: #7289da;
}

.botTagRegular-2HEhHi:hover {
  transition: .5s;
  background: #7289da;
  color: #fff;
}

.header-QKLPzZ .headerInfo-30uryT .flex-1xMQg5 div {
  transition: 0.2s;
}
.header-QKLPzZ .headerInfo-30uryT .flex-1xMQg5 div:hover {
  transition: 0.2s;
transform: translateY(-0.75px);
}

